doctype html
html
  head
    title Slack scraper
    != css('vendor/bootstrap')
    != css('app')
  body
    .container
      .row.justify-content-center
        .col-md-6.col-md-offset-3.col-xs-12
          if errorMessage
            .alert.alert-danger(role='alert')= errorMessage
          form.justify-content-center.form(action='/download', target='_blank')
            .form-group
              label(for='token')
                | Slack Token
                |  (
                a(href='https://briq.slite.com/public/share/note/62dc73fc-89fc-470b-9bfe-32b0dcf39212/Scraping-users-from-slack', target='_blank') How to get your token
                | )
              input.form-control(type='text', name='token', placeholder='Ex: xoxs-72756405373-537554425334-277258848284-s3mszz3cfa', required, value=token)
            button.btn.btn-primary(type='submit') Download CSV

